// Development Team
//
// The team ID of a development team to use for signing certificates and provisioning
// profiles.

DEVELOPMENT_TEAM = YOUR_TEAM_ID


ORGANIZATION_IDENTIFIER = com.yourcompany

